body{
    text-align: center;
}
header,footer{
    background-color: yellow;
    height: 15vh;
    line-height: 15vh;
}
main{
    height: 70vh;
    display: flex;
    line-height: 70vh;
}
article{
    flex-grow: 3;
    order: 2;
}
aside{
    background-color: pink;
    flex-grow: 1;
    order: 3;
}
nav{
    background-color: yellowgreen;
    flex-grow: 1;
    order: 1;
}