img{
    width: 5%;
}

nav{
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    padding: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: blueviolet;
}